@media screen and (max-width: 1700px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 756px) {
    body {
        width: 100% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .ideas,
    .purchase,
    .projects-button,
    .statistics,
    .main-footer-content {
        display: none !important;
    }
}