$height-header: 100px;
$padding-left: 27px;
$menu-width: 270px;
@font-face {
  font-family: ssp-normal;
  font-weight: 400;
  src: url("../fonts/sourcesanspro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: ssp-black;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/sourcesanspro/SourceSansPro-Black.ttf");
}

@font-face {
  font-family: ssp-bold;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/sourcesanspro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: ssp-600;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/sourcesanspro/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: ubuntu;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}
html,
body {
  height: 100%;
}
body {
  outline: none;
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: ssp-normal;
  line-height: 20px;
  letter-spacing: 0.01em;
  .round-link {
    fill: #555;
    cursor: pointer;
  }
  .round-link:hover {
    fill: #0084ae;
  }
  .red-button {
    font-family: ssp-600;
    width: 145px;
    height: 50px;
    letter-spacing: 0.09em;
    box-shadow: 0px 5px 9px rgba(255, 83, 83, 0.35);
    background: #df391c;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    border-color: #df391c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:hover {
      text-decoration: none;
      color: #0084ae;
    }
  }
  .heart {
    cursor: pointer;
    stroke: #8da5a8;
  }
  .heart:hover {
    stroke: #0084ae;
  }
  .page {
    display: flex;
  }
  a {
    color: #555555;
  }
  a:hover {
    color: #0084ae;
  }
}

* ::before,
* ::after {
  outline: none;
}

.left-menu {
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    border-radius: 9px;
    width: 15px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e5f9ff;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 12px;
    background-color: #00394b;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #00394b;
  }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 15px;
    /*height:0px*/
  }

  ::-webkit-scrollbar {
    width: 0 !important;
  }
  scrollbar {
    width: 0 !important;
  }
  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #00394b;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  min-width: $menu-width;
  max-width: $menu-width;
  #left-menu-block {
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
  }
  .nav-tabs {
    border-bottom: none;

    .nav-item {
      height: 80px;
      width: 135px;
      max-width: 50%;
      li {
        margin-bottom: 0;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: #60bdca;
        }
        width: 100%;
        cursor: pointer;
        border: none;
        height: 100%;
        padding: 27px 0;
        background-color: #00475d;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
      a:hover,
      a:focus,
      a.active {
        background-color: #00394b;
        border: none;
        svg {
          fill: #f0f4fa;
        }
      }
    }
  }
  &__header {
    border-bottom: 1px solid rgba(96, 189, 202, 0.28);
    max-width: $menu-width;
    padding: 40px 0 30px $padding-left;
    a {
      font-family: inherit;
      font-size: 19px;
      line-height: 30px;
      color: #fff;
    }
    a:hover {
      color: #fff;
    }
  }

  &__nav {
    ul {
      padding: 0;
    }
    &__location {
      &:hover {
        background-color: #002b3a;
      }
      list-style: none;
      padding: 15px 0 15px $padding-left;
      font-family: ssp-600;
      font-size: 17px;
      color: #ffffff;
      &__header {
        cursor: pointer;
        &__icon {
          width: 30px;
          height: 24px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: left bottom;
        }
      }
    }
    &__location.minus span {
      background-image: url("../img/minus.svg");
    }
    &__location.plus span {
      background-image: url("../img/plus.svg");
    }
    &__submenu {
      margin-left: 30px;
      display: none;
      &__item {
        list-style: none;
        padding: 15px 0 3px;
        max-width: 200px;

        a {
          font-size: 14px;
          font-weight: 400;
          line-height: 33px;
          color: #ffffff;
        }
      }
    }
  }
  &__calendar {
    width: calc(242px);
    padding-left: $padding-left;
  }
  &__calendar-header {
    padding-top: 40px;
    padding-bottom: 30px;
    a {
      font-family: ssp-600;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
    }
    a:hover {
      color: #fff;
    }
  }
  &__grouped-by-region {
    &__block {
      display: flex;
      flex-direction: column;

      &__header {
        font-size: 16px;
        line-height: 22px;
        color: #60bdca;
        margin-bottom: 19px;
      }
      &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 82px;
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 32px;
        }
      }
      .calendar-arrow {
        position: absolute;
        bottom: 0;
        right: 0;
        svg path {
          fill: #555555;
        }
        &:hover {
          svg path {
            fill: #0084ae;
          }
        }
      }
      &__calendar {
        min-width: 53px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__date {
          width: 100%;
          height: 53px;
          background-color: #00475d;
          border-radius: 5px;
          color: #60bdca;
          display: flex;
          flex-direction: column;
          .numeric {
            font-weight: bold;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
          }
          .month {
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
          }
        }
        .day-of-week {
          font-family: ssp-600;
          font-size: 12px;
          line-height: 18px;
          color: #60bdca;
        }
      }
      &__text {
        width: 146px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: ssp-600;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        &__price {
          font-size: 12px;
          color: #60bdca;
        }
        &__places {
          font-size: 12px;
          color: #dffbff;
        }
      }
    }
  }
  .schedule {
    margin-top: 48px;
    margin-bottom: 54px;
    width: 100%;
  }
  .registry {
    min-height: 70px;
    max-height: 70px;
    padding: 12px 12px 12px $padding-left;
    display: flex;
    justify-content: space-between;
    background-color: #00475d;
    svg {
      height: 39px;
      margin-right: 2px;
    }
    .registry-desription {
      height: 46px;
      float: right;
      font-family: ssp-600;
      font-size: 14px;
      line-height: 22px;
      color: #dffbff;
    }
    .rto {
      font-size: 14px;
      line-height: 22px;
      color: #60bdca;
    }
  }
  #search-button {
    margin: 12px auto 0;
    width: 70%;
    display: none;
  }
  .search {
    clear: both;
    margin: 33px 12px;
    input[type="search"] {
      margin: 8px 40%;
      width: 30px;
      height: 30px;
      outline: none;
      background-color: transparent;
      background-image: url("../img/search.svg");
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
    }

    input[type="search"]:focus {
      width: 100%;
      margin-left: 0;
      background-color: white;
      transition: width 1s ease-out;
      background-position: right;
      -webkit-transition: width 1s ease-out;
      -moz-transition: width 1s ease-out;
      -ms-transition: width 1s ease-out;
      -o-transition: width 1s ease-out;
    }
  }
}

.main-header {
  background-color: white;
  height: $height-header;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 90;
  top: 0;
  left: 299px;
  width: calc(100% - 299px);
  min-width: 1075px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .top-sub-menu {
    display: none;
    background-color: white;
    top: $height-header;
    position: fixed;
    height: 44px;
    background: #f0f4fa;
    width: calc(100% - 270px);
    left: 270px;
    padding: 0 24px;
    margin-bottom: 0;
    list-style-type: none;
    min-width: 500px;
    li {
      margin-right: 59px;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        font-family: ssp-600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #4f4f4f;
      }
    }
  }
  .menu-label {
    border: 1px solid black;
    display: none;
    background-size: 100%;
  }

  .top-menu {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 12px;
    list-style-type: none;
    min-width: 500px;
    max-width: 750px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    li {
      height: 100%;
      padding: 0 12px;
    }
  }
  .top-menu-txt:hover {
    font-family: ssp-600;
    font-size: 16px;
    color: #5488c7;
    background: #f0f4fa;
  }
  .large {
    min-width: 125px;
  }
  .top-menu-txt {
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #4f4f4f;
    text-decoration: none;
    font-family: ssp-600;
    font-size: 16px;
  }

  #top-menu {
    display: none;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block !important;
  }
  .navbar {
    margin: 0;
    border: none;
    height: 100%;
    .navbar-collapse {
      .menu-item {
        display: flex;
        align-items: center;
        height: $height-header;
        font-family: ssp-600;
        font-size: 16px;
        line-height: inherit;
        color: #333333;
      }
      .menu-item:hover,
      .menu-item:active {
        color: #045857;
        background: #f0f4fa;
      }
    }
  }
  .geo {
    padding-left: 15px;
    width: 153px;
    .location {
      padding-left: 3px;
      font-family: ubuntu;
      font-size: 14px;
      line-height: inherit;
      color: #828282;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .phone {
    position: relative;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    #open-drop-down {
      cursor: pointer;
      position: absolute;
      top: 9px;
      right: 3px;
    }
    .drop-down {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: inline-block;
      height: 0;
      transition: height 1s ease;
      border: none;
      background-color: white;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-transition: height 1s ease;
      -moz-transition: height 1s ease;
      -ms-transition: height 1s ease;
      -o-transition: height 1s ease;
    }
    &-label {
      font-size: 13px;
      color: #828282;
    }
    &-number {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: ssp-bold;
      font-size: 16px;
      line-height: inherit;
      color: #333333;
    }
  }
  @media screen and (max-width: 1500px) {
    .phone {
      display: none;
    }
  }
  .login {
    min-width: 170px;
    margin-left: 9px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f4fa;
    a {
      margin: 0 3%;
      color: #828282;
    }
  }
  .navigation {
    width: 1195px;
    max-width: 100%;
    margin: 0 auto 5% auto;
    display: flex;
    .cart {
      fill: #998675;
    }
    .cart:hover {
      fill: #000;
    }
    .menu-txt:hover {
      color: #998675;
    }
    ul {
      margin: 16px 30px 16px 200px;
      list-style-type: none;
      min-width: 630px;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    ul li a {
      min-width: 40px;
      margin-left: 9px;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
    }
    .cart {
      margin-top: -5px;
    }
  }
}

.main-row {
  background-color: white;
  margin: $height-header 0 0 $menu-width;
  z-index: 0;
  padding-left: 29px;
  max-width: 1544px;
  width: 100%;
  .main-content {
    min-width: 1053px;
    .row {
      width: 120%;
    }
    .goto-link {
      background-color: #f0f4fa;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .goto-link:hover {
      svg {
        fill: #0084ae;
      }
      background-color: rgb(220, 232, 250);
    }
    .goto-from-ul {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    overflow-x: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
      flex-wrap: wrap;
    }
    .heading {
      font-family: ssp-bold;
      font-size: 33px;
      line-height: 40px;
      color: #373737;
      width: 972px;
      font-weight: bold;
    }
    &__first-row {
      margin-top: 30px;
      &__main-image {
        width: 100%;
        margin: 0 0 30px 0;
        min-width: 559px;
        height: 410px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/main.png");
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding-bottom: 29px;
        padding-right: 27px;
        &__slider {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-end;
          justify-content: space-between;
          .round-link {
            &:first-child {
              margin-right: 29px;
            }
          }
          &__description {
            width: 693px;
            max-width: calc(100% - 50px);
            margin-top: 22px;
            height: 103px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 3px;
            padding: 19px 32px 18px 23px;
            position: relative;

            .main-text {
              max-width: 417px;
              font-family: ssp-bold;
              font-size: 17px;
              line-height: inherit;
              color: #333333;
            }
            .other-text {
              font-family: ssp-normal;
              font-size: 16px;
              line-height: 23px;
              letter-spacing: 0.01em;
              color: #4f4f4f;
            }
            a {
              width: 145px;
            }
          }
        }
      }
      &__second-image {
        height: 410px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/second.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &__content {
          margin: 60px auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          span {
            font-family: ssp-black;
            width: 170px;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 32px;
          }
        }
      }
    }
    &__image-row {
      @media screen and (max-width: 1200px) {
        .col-xl-4,
        .col-xl-3 {
          height: 100%;
          margin-top: 30px;
        }
      }
      margin-bottom: 30px;
      min-height: 190px;
      .child-image,
      .weekend-image,
      .board-image {
        padding: 0 30px 33px;
        height: 100%;
        background-image: url("../img/childs.png");
        background-size: 115%;
        background-position: 30% 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .main-text {
          font-family: ssp-black;
          font-size: 20px;
          line-height: inherit;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      .board-image {
        margin-left: 0;
        background: linear-gradient(
            21.55deg,
            rgba(0, 0, 0, 0.52) 25.36%,
            rgba(0, 0, 0, 0) 60.01%
          ),
          url("../img/board-image.png");
        background-blend-mode: darken, normal;
        background-size: cover;
        background-position: center;
      }
      .weekend-image {
        background-size: cover;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        background-image: url("../img/weekend-image.png");
        .main-text {
          margin-bottom: 18px;
        }
      }
      &__because {
        height: 100%;
        background: #f0f4fa;
        padding: 20px 9% 32px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: ssp-600;
        font-size: 18px;
        color: #05050a;
        &__text {
          height: 100%;
          min-width: 220px;
          max-width: 220px;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          span:first-child {
            flex-grow: 1;
            line-height: 25px;
          }
        }
        &__count {
          font-size: 30px;
        }
        &__link {
          font-size: 16px;
          line-height: 126.39%;
          display: flex;
          justify-content: space-between;
          svg {
            fill: #555;
          }
          &:hover {
            color: #0084ae;
            svg {
              fill: #1f3c5f;
            }
          }
        }
      }
      .hotel-image,
      .autobus-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 33% 32px 28px;
        height: 100%;
        background-size: 130%;
        background-position: 0 85%;
        background-image: url("../img/hotel.png");
        .brands {
          display: flex;
          align-items: flex-end;
          a {
            margin-right: 34px;
          }
          margin-bottom: 12.5px;
        }
      }
      .autobus-image {
        background-position: 0 79%;
        &__title {
          font-family: ssp-600;
          font-size: 18px;
          color: #05050a;
          width: 153px;
        }

        background-image: url("../img/autobus.png");
      }
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__item {
        padding: 23px 28px;
        background-repeat: no-repeat;
        &:nth-child(1) {
          background-size: cover;
          background-position: 170px center;
          background-image: url("../img/autobus.png");
        }
        &:nth-child(2) {
          background-size: 30%;
          background-position: 59% 30px;
          background-image: url("../img/cup.png");
          margin: 0 20px;
        }
        width: 400px;
        height: 163px;
        border: 1px solid #f0f4fa;
        display: flex;
        flex-direction: column;
        &__title {
          width: 200px;
          margin-bottom: 12px;
          font-family: ssp-bold;
          font-size: 20px;
          line-height: 24px;
          color: #373737;
        }
        &__subtitle {
          width: 210px;
        }
      }
    }
    &__right-column {
      display: flex;
      flex-direction: column;
      font-family: ssp-600;
      font-size: 16px;
      line-height: 30px;
      &__item {
        padding: 21px 5% 5% 7%;
        height: 74px;
        width: 100%;
        border: 1px solid #f0f4fa;
        a {
          text-decoration: none;
          color: #333;
          cursor: pointer;
        }
        &:first-child {
          background: #fffcde;
        }
        &:nth-child(2) {
          color: #df391c;
          background: url("../img/stValentin.png");
          background-size: cover;
          background-position: 10% 40%;
        }
        &:nth-child(n-2) {
          display: flex;
          justify-content: space-between;
        }
        .price {
          font-weight: normal;
          font-size: 17px;
          line-height: 30px;
          color: #828282;
        }
      }
      &__item :hover {
        color: #828282;
      }
    }
    &__tours,
    &__our-faces,
    &__events {
      min-width: 1053px;
      .li-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .nav-tabs {
        margin: 19px 0 57px;
        border: none;
      }
      .nav-item:first-child {
        margin-left: -15px;
        padding-left: 0;
      }
      .nav-item a {
        font-family: ssp-600;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #828282;
        margin: 0 0 0 15px;
        &:hover,
        &.active {
          font-weight: bold;
          line-height: 36px;
          color: #373737;
          text-decoration: none;
        }
      }

      .list-cards {
        height: 300px;
        .row {
          height: 100%;
        }
        .tab-pane {
          height: 100%;
          width: 100%;
          [class^="col-xl-"] {
            height: 100%;
          }
        }
        .tab-pane {
          .item {
            height: 100%;
            position: relative;
            .top-image {
              height: 156px;
              background-image: url("../img/weekend-image.png");
              background-position: center;
            }
            .text-content {
              padding: 21px 21px 0 22px;
              position: absolute;
              min-height: 130px;
              border-radius: 5px;
              top: 110px;
              left: calc(7% + 28px);
              right: 7%;
              margin: auto;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .first {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 55px;
                margin-bottom: 12px;
                .market {
                  min-width: 190px;
                  .discount,
                  .additional-discount,
                  .hit {
                    //display: inline-block;
                    font-family: ssp-600;
                    font-size: 15px;
                    line-height: 10px;
                    text-align: center;
                    color: #fff;
                    padding: 0 3px 0 5.9px;
                    background: #4dae38;
                    border-radius: 4px;
                    margin-right: 3%;
                    margin-bottom: 17px;
                  }
                  .hit {
                    background-color: #f2994a;
                  }
                  .additional-discount {
                    background-color: #60bdca;
                    .destination {
                      font-size: 10px;
                      position: relative;
                      bottom: 1px;
                    }
                  }
                }
                .duration {
                  background-color: #f0f4fa;
                  border-radius: 5px;
                  font-family: ssp-600;
                  font-size: 12px;
                  line-height: 18px;
                  text-align: center;
                  color: #5488c7;
                  padding: 2px 5px;
                }
                .heart {
                  text-align: right;
                  background-color: transparent;
                  min-width: calc(100% - 190px);
                }
                .date-of-departure {
                  font-size: 14px;
                  line-height: 18px;
                  text-align: right;
                  color: #828282;
                }
              }
              .price {
                .discount-price {
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
                  color: #4dae38;
                  margin-right: 7px;
                }
                .per-person {
                  font-weight: normal;
                  font-size: 15px;
                  line-height: 22px;
                  color: #4f4f4f;
                  margin-right: 12px;
                }
              }
              .main-title {
                font-family: ssp-600;
                font-size: 17px;
                color: #4f4f4f;
              }
              .old-price {
                font-size: 14px;
                line-height: 36px;
                color: #828282;
                text-decoration: line-through;
              }
            }
            border: 1px solid #f0f4fa;
          }
        }
      }
    }
    &__our-faces {
      margin: 18px 0 100px;
      .our-pride-in-faces {
        font-family: ssp-bold;
        font-size: 28px;
        line-height: 36px;
        color: #373737;
        padding-left: 0;
      }
      .see-all {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 15px;
      }
      .nav-item {
        a {
          text-transform: uppercase;
          font-family: ssp-600;
          font-size: 18px;
        }
        a:hover,
        a.active {
          font-size: 18px;
          color: #0084ae;
        }
      }
      .list-cards {
        height: 249px;
        .item {
          padding: 20px 0 26px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .star {
            img {
              position: relative;
              bottom: 2px;
            }
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #828282;
            margin-right: 9px;
          }
          .heart {
            position: absolute;
            top: 20px;
            right: 8%;
          }
          .name {
            font-family: ssp-600;
            font-size: 17px;
            line-height: 22px;
            text-align: center;
            color: #333333;
          }
          .experience {
            font-size: 14px;
            line-height: 18px;
            color: #828282;
          }
          .comment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .comments-count {
              font-size: 14px;
              line-height: 18px;
              text-align: center;
              color: #045857;
            }
          }
        }
        .best-employee {
          min-width: 287px;
          background-image: url("../img/employee-of-the-month.png");
          background-size: 115%;
          background-position: center 20%;
          flex-direction: row;
          padding: 50px 25px;
          .main-img {
            min-width: 113px;
            max-width: 113px;
          }
          &__text {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .title {
              max-width: 80%;
              font-weight: bold;
              font-size: 20px;
              line-height: 24px;
              text-align: center;
              text-transform: uppercase;
              color: #373737;
              margin-bottom: 30px;
            }
            .employee-name {
              font-family: ssp-600;
              font-size: 17px;
              line-height: 22px;
              text-align: center;
              color: #333333;
              margin-bottom: 5px;
            }
            .profession {
              font-size: 14px;
              max-width: 80%;
              line-height: 18px;
              text-align: center;
              color: #828282;
              margin-bottom: 17px;
            }
          }
        }
      }
    }
    &__events {
      height: 100%;
      ul {
        padding: 0;
        list-style: none;
        margin-bottom: 40px;
        .scantour-events-title {
          font-weight: bold;
          font-size: 28px;
          line-height: 36px;
          color: #373737;
        }
        .digest {
          font-size: 16px;
          line-height: 23px;
          color: #4f4f4f;
        }
      }
      .item {
        .image-content {
          background-position: center 43%;
          background-size: 109%;
          background-image: url("../img/taxi.png");
          height: 190px;
        }

        .events-text-content {
          width: 100%;
          position: relative;
          padding: 22px 8% 16px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          .heart {
            top: 22px;
            right: 6.23%;
            position: absolute;
          }
          .news {
            font-family: ubuntu;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            color: #ffffff;
            position: absolute;
            top: -50px;
            left: 35px;
            padding: 1px 5px 3px;
            background-color: #004198;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
          }
          .event-date {
            font-size: 14px;
            line-height: 18px;
            color: #828282;
          }
          .event-title {
            width: 250px;
            max-width: 100%;
            font-family: ssp-600;
            font-size: 17px;
            line-height: 25px;
            color: #333;
          }
        }
      }
    }
    &__give-tour {
      padding: 28px;
      background-color: #f0f4fa;
      border: 1px solid #f0f4fa;
      margin: 30px 0 17px;
      position: relative;
      overflow: hidden;
      min-height: 105px;
      max-width: calc(100% - 30px);
      &__text-content {
        font-weight: bold;
        font-size: 22px;
        line-height: 18px;
        color: #373737;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 5px;
      }
      .present {
        transform: rotate(-15.25deg);
        bottom: -40px;
        left: 12%;
        position: absolute;
        -webkit-transform: rotate(-15.25deg);
        -moz-transform: rotate(-15.25deg);
        -ms-transform: rotate(-15.25deg);
        -o-transform: rotate(-15.25deg);
      }
      .obscure {
        transform: rotate(-6.89deg);
        top: -40px;
        right: 15%;
        position: absolute;
        -webkit-transform: rotate(-6.89deg);
        -moz-transform: rotate(-6.89deg);
        -ms-transform: rotate(-6.89deg);
        -o-transform: rotate(-6.89deg);
      }
    }
    &__reviews {
      margin: 100px 0 18px;
      img {
        width: 90%;
      }
      &__card {
        min-height: 224px;
        &__header {
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.main-footer {
  height: 572px;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 50;
  &__left {
    z-index: 100;
    min-width: $menu-width;
    max-width: $menu-width;
    padding-left: $padding-left;
    &-copyright {
      margin: 0 0 71px;
      padding: 0;
      line-height: 39px;
      list-style: none;
      &__item {
        font-size: 15px;
        color: #60bdca;
        &:hover {
          color: #fff;
        }
      }
    }
    &__header {
      font-size: 15px;
      color: #60bdca;
      margin: 71px 0 12px;
      padding-bottom: 12px;
      display: inline-block;
    }
    &-paymant {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 100px;

      &__card {
        display: flex;
        justify-content: center;
        margin: 0 9px 9px 0;
        align-items: center;
        width: 81px;
        height: 56px;
        background: #00475d;
        border-radius: 5px;
        &:hover {
          background: rgb(170, 199, 202);
        }
      }
    }
  }
  &__right {
    background-color: white;
    max-width: calc(100% - 270px);
    min-height: 572px;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &-contact {
    max-width: 100%;
    padding-top: 14px;
    margin: 0;
    height: 76px;
    border-top: 1px solid #f0f4fa;
    border-bottom: 1px solid #f0f4fa;
    &__phone {
      display: flex;
      padding-left: 0;
      flex-direction: column;
      span:first-child {
        font-family: ssp-600;
        font-size: 20px;
        line-height: 22px;
        color: #373737;
      }
      span:nth-child(2) {
        font-size: 14px;
        line-height: 18px;
        color: #828282;
      }
    }
    &__city {
      display: flex;
      flex-direction: column;
      span:first-child {
        font-family: ssp-600;
        font-size: 18px;
        color: #373737;
      }
      span:nth-child(2) {
        font-size: 14px;
        line-height: 18px;
        color: #828282;
      }
    }
    &__social {
      display: flex;
      justify-content: space-around;
      &__link {
        svg {
          fill: #5488c7;
          &.facebook:hover {
            fill: #0021cd;
          }
          &.vk:hover {
            fill: #104fa4;
          }
          &.instagram:hover {
            fill: #d80382;
          }
          &.youtube:hover {
            fill: #ee0000;
          }
          &.ok:hover {
            fill: #ff7a00;
          }
        }
      }
    }
  }
  &-links {
    max-width: 100%;
    &__column {
      &__header {
        display: inline-block;
        font-family: ssp-600;
        font-size: 18px;
        line-height: 22px;
        color: #4f4f4f;
        margin-bottom: 50px;
        margin-top: 27px;
      }
      &__contacts {
        max-width: 303px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        font-family: ssp-600;
        font-size: 16px;
        line-height: 22px;
        color: #4f4f4f;
        .address {
          font-weight: 400;
          margin-top: 12px;
          margin-bottom: 15px;
          font-size: 15px;
          color: #828282;
        }
        a {
          font-weight: 400;
          font-size: 15px;
          color: #828282;
        }
      }
      &__list {
        padding-left: 0;
        list-style: none;
        margin-left: 0;
        line-height: 40px;
        a {
          font-size: 15px;
          color: #828282;
        }
      }
    }
  }
  &-setificate {
    width: 1920px;
    margin-left: -30px;
    padding: 19px 30px;
    background-color: #00394b;
    width: calc(100vw - 270px);
    min-height: 70px;
    font-size: 16px;
    line-height: 22px;
    color: #60bdca;
  }
}
